body.black {
  --body-bgc: #333;
  --main-color: #fff;
  --fz: 18px;
  --gap: 5px;
  --msg-bgc: #777;
  --msg-color: #eee;
  --msg-btn-bgc: #444;
  --msg-btn-hover-bgc: #003DBD;
  --border-color: #ddd3;
  --color-date: #666;
  --ind-color-success: #338217;
  --ind-color-error: #E23720;
  --user_name-c: #2062E2;
  --user_name-bgc: #20396B;
  --border: 1px solid var(--border-color);
  --transition: .1s;
}

body.white {
  --body-bgc: #fff;
  --main-color: #000;
  --fz: 18px;
  --gap: 5px;
  --msg-bgc: #eee;
  --border-color: #3333;
  --color-date: #aaa;
  --msg-color: #444;
  --msg-btn-bgc: #A1A1A1;
  --msg-btn-hover-bgc: #2062E2;
  --ind-color-success: #3E8D22;
  --ind-color-error: #E20020;
  --user_name-c: #2062E2;
  --user_name-bgc: #E9Efff;
  --border: 1px solid var(--border-color);
  --transition: .1s;
}

body {
  color: var(--main-color);
  background-color: var(--body-bgc);
  font-size: var(--fz);
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  transition: var(--transition);
}

body * {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

input {
  outline: none;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--msg-color);
  cursor: pointer;
  font-size: 1em;
}

.d-n {
  display: none;
}

.p {
  padding: .5em;
}

.m {
  margin: .5em;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}
.flex.flex-dir-col {
  flex-direction: column;
}
.flex.jc-c,
.grid.jc-c {
  justify-content: center;
}

.flex.ai-c,
.grid.ai-c {
  align-items: center;
}

.ta-c {
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid.grid-col-2 {
  grid-template-columns: 1fr 50px;
}
body.grid.grid-row-3 {
  grid-template-rows: 50px 1fr 60px;
}

.grid.grid-col-3 {
  grid-template-columns: 20px 1fr 80px;
}

.grid.gap,
.flex.gap {
  gap: .5em;
}

.grid.gap-15,
.flex.gap-15 {
  gap: 15px;
}

.grid.gap-30,
.flex.gap-30 {
  gap: 30px;
}

.success {
  color: var(--ind-color-success);
  background-color: var(--ind-color-success);
  box-shadow: 0 0 8px var(--ind-color-success);
}

.error {
  margin: auto;
  color: var(--ind-color-error);
  background-color: var(--ind-color-error);
  box-shadow: 0 0 8px var(--ind-color-error);
}

.user_message > p {
  color: var(--main-color);
  font-size: 1.4em;
  font-weight: 600;
}

.user_message .items > .message > i {
  margin-top: .8em;
  font-size: .8em;
  align-self: start;
  font-weight: 500;
  opacity: .3;
}

.user_message .items > .message > span {
  padding: .4em .8em;
  background-color: var(--msg-bgc);
  color: var(--main-color);
  font-weight: 500;
  font-size: 1em;
  border-radius: 20px;
  word-break: break-all;
}

#chat {
  overflow-y: auto;
}
#chat.m {
  margin: .5em 0;
}
#chat.p {
  padding: 0 .5em;
}

#condition {
  border-bottom: var(--border);
}

#condition.grid.grid-col-3 {
  grid-template-columns: 50px 1fr 50px;
}

#sysmes {
  margin: auto 0;
  text-align: left;
}

#sysmes > i {
  color: var(--color-date);
  font-size: .8em;
}

#indicator {
  margin: auto;
  text-align: right;
  padding: .5em;
  border-radius: 15px;
}

#user_name {
  background-color: var(--user_name-bgc);
  color: var(--user_name-c);
  font-size: 1em;
  width: 100%;
  height: 100%;
}

#themeSwitch {
  outline: none;
  background-color: transparent;
  border: none;
  transition: var(--transition);
}

#themeSwitch:hover {
  background-color: #0003;
  border: none;
}

#themeSwitch svg {
  z-index: 1;
  fill: black;
  transition: inherit;
}

#themeSwitch:hover svg {
  fill: yellow;
}

#themeSwitch::before {
  content: '';
  position: absolute;
  display: block;
  z-index: 0;
  opacity: 0;
  background-color: yellow;
  border-radius: 50px;
  box-shadow: 0px 0 10px 10px yellow;
  border: 1px solid yellow;
  transition: var(--transition);
}

#themeSwitch:hover::before {
  opacity: 1;
}

form[name="message"] > * {
  background-color: var(--msg-bgc);
  color: var(--msg-color);
  border: none;
  font-size: 1em;
  border-radius: 10px;
}

form[name="message"] {
  border-top: var(--border);
}

form[name="message"] > button {
  background-color: var(--msg-btn-bgc);
  border-radius: 10px;
  transition: var(--transition);
}

form[name="message"] > button:hover,
form[name="message"] > button:focus {
  background-color: var(--msg-btn-hover-bgc);
}

form[name="message"],
#chat {
  display: none;
}

form[name="signin"],
form[name="signup"] {
  border-radius: 10px;
  padding: .5em;
  border: var(--border);
}

form[name="signin"] input,
form[name="signup"] input {
  background-color: var(--msg-bgc);
  color: var(--msg-color);
  border: none;
  font-size: var(--fz);
  border-radius: 10px;
}

form[name="signin"] > button,
form[name="signup"] > button {
  background-color: var(--msg-btn-bgc);
  color: var(--msg-color);
  border: none;
  font-size: var(--fz);
  border-radius: 10px;
  transition: var(--transition);
}

body.white form[name="signin"] > button,
body.white form[name="signup"] > button {
  color: #fff;
}

form[name="signin"] > button:hover,
form[name="signin"] > button:focus,
form[name="signup"] > button:hover,
form[name="signup"] > button:focus {
  background-color: var(--msg-btn-hover-bgc);
}

@media screen and (max-width: 1220px) {
  body.white {
    --fz: 16px;
  }

  body.black {
    --fz: 16px;
  }

  .grid.grid-col-3 {
    grid-template-columns: 150px 1fr 50px;
  }
}
@media screen and (max-width: 568px) {
  body.white {
    --fz: 14px;
  }

  body.black {
    --fz: 14px;
  }

  body.grid.grid-row-3 {
    grid-template-rows: 50px 1fr 50px;
  }

  .grid.grid-col-2 {
    gap: 0;
    padding: 0;
    margin: 0;
    border: none;
  }
  .grid.grid-col-2 > * {
    border-radius: 0;
  }

  .grid.grid-col-3 {
    grid-template-columns: 80px 1fr 40px;
  }

  form[name="signup"] > button,
  form[name="signin"] > button,
  form[name="message"] > button {
    background-color: var(--msg-btn-hover-bgc);
  }
}
